
<div class="masonry">
 <div class="post_item">
  <h2><%= Viewchannelinfo.first[:channel_name]%></h2> </a>
  <h4><%= Viewchannelinfo.first[:channel_description]%></h4>
  <%
  postJson = Viewchannelpost.all.as_json
  postArray = postJson
  %>
  
  <% # yes this means that each channel can show up to only 5 posts at the moment%>
  <%= if (postArray[0] != nil)
   render partial: "posts/showPost", locals: {post_id: postArray[0]["postid"]}
  end%>
  <%= if (postArray[1] != nil)
   render partial: "posts/showPost", locals: {post_id: postArray[1]["postid"]}
  end%>
  <%= if (postArray[2] != nil)
   render partial: "posts/showPost", locals: {post_id: postArray[2]["postid"]}
  end%>
  <%= if (postArray[3] != nil)
   render partial: "posts/showPost", locals: {post_id: postArray[3]["postid"]}
  end%>
  <%= if (postArray[4] != nil)
   render partial: "posts/showPost", locals: {post_id: postArray[4]["postid"]}
  end%>
 </div>
</div>