<div class="comment">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <a href="<%= user_path(get_username(comment.user_id))%>">@<%= get_username(comment.user_id)%></a>
        <p>
          <%= comment.body %><br>
        </p>
      </div>
    </div>
    <% if check_permissions(comment.user_id) %>
     <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </article>
  <%= render 'comments/votes', :@comment => comment %>
</div>