<h3>Search Result</h3>
<h4>Channels</h4>
<% if @channel_results.empty? %>
<p>There are no channels that match your search</p>
<% end %>
<% @channel_results.each do |channel| %>  
<a href="<%= channel_path(channel.id)%>">
<div class="post_item masonry-brick">
<% if(!channel.channel_image.nil?) %>
<%= image_tag attachment_url(channel, :channel_image, format: "jpg"), :class => "channel_image_tiny" %>
<% end %>
<h2 style="display: inline-block;"><%= channel.channel_name %></h2>
</div>
</a>
<% end %>
<h4>Posts</h4>
<% if @results.empty? %>
<p>There are no posts that match your search</p>
<% end %>
<div class="masonry">
 <% @results.each do |post| %>  
 <div class="post_item masonry-brick">
  <a href="<%= user_path(get_username(post.user_id))%>">@<%= get_username(post.user_id)%></a><br>
  <a href="<%= channel_path(post.channel_id)%>">#<%= get_channel_name(post.channel_id) %></a>
 <a href=<%= post_path(post) %>>
  <h2><%= post.title %></h2> 
  <center><h3 class="post_content"><%= post.content %></h3></center>
  <% if(post.link== "" || post.link.nil?) %>
 <center><%= image_tag attachment_url(post, :media_content, format: "jpg"), :class => "post_image" %></center>
 <% else %>
 <center><iframe width="700px" height="400px" src="<%= post.link %>" frameborder="0" allowfullscreen></iframe></center>
<% end %>
 </a>
  <a href=<%= post_path(post) %>><div class="comment-count">
                <span class="tag is-rounded"><%= post.comments.count %> comments</span>
            </div></a>
  <%= render 'posts/votes', :@post => post %>
  
 </div>

 <% end %>
 </div>
