<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      
       <% if current_user.admin?  %>
       
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
     <% end %>
    </li>
 
  
  <% end %>
  
<div class="masonry">
 <% @favorites.each do |post| %>  
 <div class="post_item">
 <a href=<%= post_path(post) %>>
  <h2><%= post.title %></h2> </a>
  <h3><%= post.content %></h3>
  <img class="photo_post_tile" src="<%= post.link %>"></img>
  <div class="comment-count">
                <span class="tag is-rounded"><%= post.comments.count %> comments</span>
            </div>
  <%= render 'posts/votes', :@post => post %>
 </div>

 <% end %>
 </div>
  
</ul>