<% provide(:title, @user.username) %>
<div class="row">
  <div class="profile_summary">
    <div class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <h1>
        <%= "@" + @user.username %>
      </h1>
      <h4>Joined <%= time_ago_in_words(@user.created_at) %> ago</h4>
    </div>
    <div class="user_stats">
    <div class="stats_container">
      <div class=post_stats>
        <h4>Posts</h4>
        <h3><%= Post.where(user_id: @user.id).count %></h3>
      </div>
      <div class=comment_stats>
        <h4>Comments</h4>
        <h3><%= Comment.where(user_id: @user.id).count %></h3>
      </div>
      <div class=subscription_stats>
        <h4>Subscriptions</h4>
        <% if !@user.subscriptions.nil?  %>
        <% subs=@user.subscriptions.split(',')  %>
        <h3><%= subs.length %></h3>
        <% else %>
        <h3>0</h3>
        <% end %>
        
      </div>
    </div>
    </div>
  </div>
</div>
  <div class="masonry">
  <% Post.where(:user_id => @user.id).each do |post| %>
  <div class="post_item masonry-brick">
  <a href="<%= user_path(get_username(post.user_id))%>">@<%= get_username(post.user_id)%></a><br>
  <a href="<%= channel_path(post.channel_id)%>">#<%= get_channel_name(post.channel_id) %></a>
 <a href=<%= post_path(post) %>>
  <h2><%= post.title %></h2> </a>
  <center><h3 class="post_content"><%= post.content %></h3></center>
  <% if(post.link== "" || post.link.nil?) %>
 <center><%= image_tag attachment_url(post, :media_content, format: "jpg"), :class => "post_image" %></center>
 <% else %>
 <center><iframe width="700px" height="400px" src="<%= post.link %>" frameborder="0" allowfullscreen></iframe></center>
<% end %>
  <div class="comment-count">
                <span class="tag is-rounded"><%= post.comments.count %> comments</span>
            </div>
  <%= render 'posts/votes', :@post => post %>
 </div>
  <% end %>
  </div>
</div>