<h1>Edit Article</h1>
<% if @post.errors.any? %>
 <h2>The following errors prevented the post from saving:</h2>
 <ul>
 <% @post.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>
<%= form_for @post do |f| %>
 <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
 </p>
 <p>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
 </p>
 <p>
  <%= f.label "Media" %><br>
  <%= f.attachment_field :media_content %>
 </p>
 <%= f.hidden_field :user_id, :value => current_user.id %>
 <p>
  <%= f.submit %>
 </p>
<% end %>