<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
<div class="masonry">
 <% @posts.each do |post| %>
 <div class="post_item">
 <a href=<%= post_path(post) %>>
  <h2><%= post.title %></h2> </a>
  <h3><%= post.content %></h3>
  <img class="photo_post_tile" src="<%= post.link %>"></img>
  <div class="votes">▲ <%= post.votes %> ▼</div>
 </div>

 <% end %>
 </div>
 <a href=<%= new_post_path %> class="create_post" >+</a>