
<div class="masonry">
 <% @posts.each do |post| %>
 <div class="post_item">
  @<%= get_username(post.user_id)%>
 <a href=<%= post_path(post) %>>
  <h2><%= post.title %></h2> </a>
  <h3><%= post.content %></h3>
  <img class="photo_post_tile" src="<%= post.link %>"></img>
  <div class="comment-count">
                <span class="tag is-rounded"><%= post.comments.count %> comments</span>
            </div>
  <%= render 'posts/votes', :@post => post %>
 </div>

 <% end %>
 </div>