
<div class="masonry">
 <% @posts.each do |post| %>
 <div class="post_item masonry-brick <%= class_finder(post.id) %>">
  <a href="<%= user_path(get_username(post.user_id))%>">@<%= get_username(post.user_id)%></a><br>
  #<%= get_channel_name(post.channel_id) %>
 <a href=<%= post_path(post) %>>
  <h2><%= post.title %></h2> </a>
  <h3><%= post.content %></h3>
  <center><%= image_tag attachment_url(@post, :media_content, format: "jpg"), :class => "post_image" %></center>
  <div class="comment-count">
                <span class="tag is-rounded"><%= post.comments.count %> comments</span>
            </div>
  <%= render 'posts/votes', :@post => post %>
 </div>

 <% end %>
 </div>