<h1>Create a Post</h1>
<%= form_for @post do |f| %>
 <p>
  <%= f.label "Channel" %><br>
  <%= f.select :channel_id, [['Memes','1'],['Places','2']] %>
 </p>
 <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
 </p>
 <p>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
 </p>
 <p>
  <%= f.label "Link to content" %><br>
  <%= f.text_field :link %>
 </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
 <p>
  <%= f.submit %>
 </p>
<% end %>