<h1>Create a Post</h1>
<center>
 <div class="new_post_form">
<%= form_for @post do |f| %>
 <p>
  <%= f.label "Channel" %><br>
  <%= f.collection_select :channel_id, Channel.all, :id, :channel_name %>
 </p>
 <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
 </p>
 <p>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
 </p>
 <p>Media Type</p>
 <select id="media_type" onchange=showMediaInput()>
 <option value="photo">Photo/GIF</option>
 <option value="video">Video Link</option>
 </select>
 <p id="photo_gif">
  <%= f.label "Media" %><br>
  <%= f.attachment_field :media_content %>
 </p>
 <p id="video_link" style="display: none;">
  <%= f.label "Video Link" %><br>
  <%= f.text_field :link %>
 </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
 <p>
  <%= f.submit %>
 </p>
<% end %>
</div>
</center>