<div class="post_page">
<div class="main_post_content">
<div class="main_post_item">
<%= link_to "Back", root_path %><br>
<h1><%= @post.title %></h1>
<h3>
<%= @post.content %>
</h3>
<img class="post_image" src="<%= @post.link %>"></img>

<div class="votes">
 <%= link_to "Upvote", like_post_path(@post), method: :put %>  
  <%= link_to "Downvote", dislike_post_path(@post), method: :put %>  
</div>

</div>
</div>
<div class="comments">
<center><h3><%= @post.comments.count %> Comments</h3></center>

    
        <%= render @post.comments %>
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
            <div class="comment_input">
             <%= render 'comments/form' %>
            </div>
        </div>


</div>
<%= link_to 'Edit', edit_post_path(@post) %>
</div>