<div class="post_page">
<div class="main_post_content">
<div class="main_post_item">
<%= link_to "Back", root_path %><br>
<h1><%= @post.title %></h1>
<h3>
<%= @post.content %>
</h3>
<img class="post_image" src="<%= @post.link %>"></img>

<%= render 'posts/votes', :@post => @post %>

</div>
</div>
<div class="comments">
<center><h3><%= @post.comments.count %> Comments</h3></center>

    
        <%= render @post.comments %>
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
            <% if logged_in? %>
            <div class="comment_input">
             <%= render 'comments/form' %>
            </div>
            <% else %>
            <p>You must be logged in to comment on posts.</p>
            <% end %>
        </div>


</div>
<%= link_to 'Edit', edit_post_path(@post) %>
</div>