<div class="post_page">
<div class="main_post_content">
<div class="main_post_item">
<%= link_to "Back", root_path %><br>
<h1><%= @post.title %></h1>
<h3>
<%= @post.content %>
</h3>
<img class="post_image" src="<%= @post.link %>"></img>
<div class="votes">▲ <%= @post.votes %> ▼</div>
</div>
</div>
<div class="comments">
<center><h3>Comments</h3></center>
<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
        <%= render @post.comments %>
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
             <%= render 'comments/form' %>
        </div>
    </div>
</section>
<div class="comment_input">
<%= form_tag("/search", method: "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Comment") %>
<% end %>
</div>
</div>
<%= link_to 'Edit', edit_post_path(@post) %>
</div>