<div class="post_page">
<div class="main_post_content">
<div class="main_post_item">
<%= link_to "Back", root_path %>
<span class="edit">
<% if !current_user.nil? && check_permissions(current_user.id) %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% else %>
<% end %>
</span>
<br>
<a href="<%= user_path(get_username(@post.user_id))%>">@<%= get_username(@post.user_id)%></a>
<br>#<%= get_channel_name(@post.channel_id) %><br>
<h1><%= @post.title %></h1>
<h3>
<%= @post.content %>
</h3>
<center><%= image_tag attachment_url(@post, :media_content, format: "jpg"), :class => "post_image" %></center>

<%= render 'posts/votes', :@post => @post %>

</div>

</div>
<div class="comments">
<center><h3> <%= @post.comments.count %> Comments</center>

        

          <%= render(partial: 'comments/comment', collection: @post.comments.order('cast(created_at as date) desc, cached_votes_up desc')) %>

        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
            <% if logged_in? %>
            <div class="comment_input">
              <%= form_for [@post, Comment.new] do |f| %>
                <%= f.text_area(:body, size: '50x10', class: "comment_input", id: "comment_input", placeholder: "Add a comment") %><br/>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit "Add Comment" %>
                <% end %>
            </div>
            <% else %>
            <p>You must be logged in to comment on posts.</p>
            <% end %>
        </div>


</div>
</div>