<!DOCTYPE html>
<html>
<head>
  <title>sling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <button id=sidebar class="menu_toggle" onclick="w3_open()">☰</button>
  <div class="site_title"><%= link_to "Sling", root_path %></div>
  <% if logged_in? %> 
   
 

  <% else %>-->
  

      <a href="#" class="w3-bar-item w3-button">Log In</a><br>
    <%= link_to "Log In", login_path, id:"login" %>
    
    <a href="#" class="w3-bar-item w3-button">Sign Up</a><br>
  <%= link_to "Sign Up", new_user_path, id:"sign_up" %>

  <% end %>-->
  
  
</header>
<body>
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <a onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</a><br>
  <%= link_to "Home", root_path %><br>
 
  
  
  
  <% if logged_in? %>
  
   <a href="#" class="w3-bar-item w3-button">My Account</a><br>
  <%= link_to "Create new post", new_post_path, id: "create_post" %><br>
   
    <a href="#" class="w3-bar-item w3-button">Users</a><br>
     <a href="#" class="w3-bar-item w3-button">My Account</a><br>
  <%= link_to "Create new post", new_post_path, id: "create_post" %><br>
    
     <a href="#" class="w3-bar-item w3-button">Log out</a><br>
    <%= link_to "Log Out", logout_path, method: :delete, id:"log_out" %>
    
  <% else %>
   
   
  
  
   
  <% end %>
  
</div>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
     
      <% end %>
    </div>
    
<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>