<!DOCTYPE html>
<html>
<head>
  <title>sling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <button id=sidebar class="menu_toggle" onclick="w3_open()", id = "Side Bar">☰</button>

  <a href=<%= root_path %>><div class="site_title"><img class="logo" src="/images/sling-white.png" alt="Sling" /></div></a>
  <div class="menu_right_align">
  <%= form_tag(search_page_path, :method => "get",   
    class: 'search_form') do %>  
    <div class="input-group">  
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
      <div class="input-group-btn">  
        <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    </div>  
  <% end %> 

  <% if logged_in? %> 
   
 

  <% else %>
  
    <div class="login_links">
    <%= link_to "Log In", login_path, id:"Log In" %>
    <br>
    <%= link_to "Sign Up", new_user_path, id:"Sign Up" %>
    </div>
  <% end %>
  </div>
  
</header>
<body>
<div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
  <a onclick="w3_close()" class="w3-bar-item w3-large">&#10006;</a><br>
 
  <div class="profile_preview">
  <span>
  <% if logged_in? %>
  <a href="<%= user_path(get_username(@post.user_id))%>">
  <%= gravatar_for current_user %><br>
  </span>
  @<%= current_user.username %>
  </a>
  <br>
  </div>
  <hr>
  <%= link_to "Home", root_path %><br>
  <%= link_to "Profile", current_user %><br>

  <%= link_to "Create new post", new_post_path, id: "create_post" %><br>
   
   
    
    
     
   <%= link_to "Log Out", logout_path, method: :delete, id: "Log Out" %><br>
    
  <% else %>
   
   
  
  
   
  <% end %>
  
</div>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
     
      <% end %>
    </div>
    
<%= yield %>


</body>
</html>
